* {
  outline: none;
}

body {
  background-color: rgba(1,1,1,.9);
  margin: 0;
  color: rgba(250,250,250,1);

}

nav {
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
  padding-right: 10px;

}

nav a{
  text-decoration: none;
  color: #FF8686;
  font-family: 'Roboto Condensed', sans-serif;

}

nav p {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-size: 2.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  font-size: 1.3rem;
}

.nav-links a {
  display: flex;
  align-items: flex-end;
}

.nav-links a:hover {
  transform: scale(1.1,1.1);
}

.nav-links p:hover{
  transform: scale(1.1,1.1);
  cursor: pointer;
}

.wrapper {
  height: 2000px;
}

.search-area {
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

input {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(1,1,1,.5);
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(250,250,250,1);
  padding-left: 10px;

}


label {
  font-size: 2rem;

}

.find-images {
  background-color: #EDFF51;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  width: 128px;
  height: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 1.2px;
  transition: all .5 ease;
}

.find-images:active {
  transform: scale(.75,.75);
}

.sign-btn {
  background-color: #61DBED;
  border: none;
  border-radius: 50%;
  padding: 10px;
  width: 128px;
  height: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 1.2px;
  transition: all .5 ease;
}

.sign-btn:active {
  transform: scale(.75,.75);
}

.imagesAndAttractions {
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto Condensed', sans-serif;
}

.getImages {
  width: 55%;
  height: 900px;

}

.getImages button {
  background-color: #FF8686;
  color: rgba(250,250,250,1);
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  width: 128px;
  height: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 1.2px;
  transition: all .5s ease;
}


.getImages button:active {
  transform: scale(.75,.75);
}

.cityphotos-container {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.getAttractions {
  padding-top: 60px;
  width: 30%;
  height: 2000px;
  overflow: auto;
}


.carousel-wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.carousel-wrapper button {
  border: none;
  background-color: rgba(1,1,1,1);
  color: rgba(250,250,250,1);
  cursor: pointer;
  font-size: 3rem;
}


.caro-modal {
  text-align: center;
  background-color: rgba(1,1,1,.85);
  width: 90%;
  cursor: pointer;
}

.caro-modal img {
  height: 600px;
  width: 976;
}

.attraction {
  /*max-width: 260px;*/
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px rgba(250,250,250,.2) dashed;

}

.att-details {
  width: 120px;
}

.att-details a {
  text-decoration: none;
  color: #61DBED;
}

.attraction img{
  height: 100px;
  width: 150px;
  border-radius: 1px;
}

.welcome {
  height: 800px;
  color: rgba(250,250,250,1);
  display: flex;
  justify-content: center;
  background-image: url('./rawpixel-21-compressed.jpg');
  background-size: 100% 100%;
  margin-bottom: 50px;
  background-attachment: fixed;
}

.welcome img {
  width: 75%;
}

.photo {
  margin: 10px;
}

.logo {
  width: 140px;
}

.flex {
  display: flex;
  justify-content: center;
}

#randomize {
  width: 30px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: #FF8686;
  cursor: pointer;
}

.showing {
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.showing p {
  font-size: 1.25rem;
  margin-right: 20px;

}
.dash-wrapper {
  background-image: url('./chuttersnap-176806-compressed.jpg');
  background-size: 100% 100%;
  /*background-repeat: no-repeat;*/
  height: 100%;
}

.dashboard-wrap {
  margin: 100px;
  font-family: 'Roboto Condensed', sans-serif;

}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(1,1,1,.7);
  /*box-shadow: 0px 2px 500px rgba(100,100,100,.15);*/
}

.list-city {
  margin-top: 50px;
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: 1px rgba(250,250,250,.2) dashed;
  width: 25%;
  min-width: 235px;
  font-size: 1.2rem;
}

.list-city h3{
  font-size: 1.8rem;

}

.remove-btn {
   background-color: #FF8686;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  width: 70px;
  height: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .7rem;
  cursor: pointer;
  letter-spacing: 1.2px;
  transition: all .5 ease;
}

.remove-btn:active {
  transform: scale(.75,.75);
}

.allCities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 50px;
}

.user-h1 {
  text-align: center;
  font-size: 2.5rem;
}

.user-h1 img{
  width: 350px;
}

.drop {
  margin-bottom: 120px;
}


@media only screen and (max-width: 950px){
  .nav-links {
    width: 50%;
  }
} /* close media query 950 */

@media only screen and (max-width: 800px){

  .welcome {
    height: 600px;
  }

  .getAttractions{
    height: 4200px;
  }

  .attraction {
    flex-direction: column-reverse;
  }

  input {
    width: 450px;
  }

} /* close media query 800 */

@media only screen and (max-width: 650px) {

  input {
    width: 250px;
  }

  .wrapper {
    height: 1800px;
  }

  .nav-links {
    width: 100%;
  }

  .showing p {
    font-size: 2rem;
  }

  .imagesAndAttractions {
    flex-direction: column;
    height: 100%;
    align-content: flex-start;
  }

  .getImages {
    width: 100%;
    /*align-content: center;*/
  }

  .cityphotos-container {
    justify-content: center;
  }

  .showing {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .attraction {
    flex-direction: row;
    height: 0px;
  }

  .getAttractions {
    height: 0px;
    z-index: -5;
    visibility: hidden;
  }


  .carousel-wrapper{
    height: 100%;
    background-color: rgba(1,1,1,1)
  }

  .carousel-wrapper img {
    width: 600px;
    height: 400px;
  }

  .carousel-wrapper button {
    width: 100px;
    height: 550px;

  }


  .flex {
    flex-direction: column;
    align-items: center;
  }

  #randomize {
    margin: 0;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .nav-links p {
    font-size: 1rem;
  }

  .nav-links img {
    width: 100px;
  }

  .search-area {
    margin: 0;
  }

  .find-images {
    margin-top: 20px;
  }

} /* closes media query 650 */

@media only screen and (max-width: 450px) {
  .caro-modal {
    width: 300px;
  }

  .caro-modal h2 {
    font-size: 1.2rem;
    margin-top: 50px;
  }

  .caro-modal h3 {
    font-size: 1rem;
  }

  .caro-modal img {
    height: 200px;
    width: 300px;
  }

  .user-h1 img {
    width: 300px;
  }

  .cityphotos-container img {
    width: 150px;
  }

  .carousel-wrapper button {
    font-size: 1.2rem;
  }

}
