body {
  background-color: lightblue;

}

.cityphotos-container {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
}

.caro-modal {
  text-align: center;
}

.attraction img{
  height: 200px;
  width: 250px;
}
